<mat-card>
    <form #loginForm="ngForm" (ngSubmit)="login()">
        
        <mat-card-header>
            <mat-card-title><h2>Inicio de Sesión</h2></mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Correo" [(ngModel)]="user.email"
                    required name="email" #email>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" [(ngModel)]="user.password"
                    type="password" required name="password" #password>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit"
                    [disabled]="!loginForm.form.valid">Ingresar</button>
            <a mat-raised-button routerLink="/">Volver a Inicio</a>
        </mat-card-actions>

    </form>
 </mat-card>
