<mat-card>
    <mat-card-header>   
        <mat-card-title><h2>Plataforma SGI (Sistema de Gestión de Incidentes)</h2></mat-card-title>  
    </mat-card-header>

    <mat-card-content>
        <div>
            <h6 *ngIf="isAuthenticated">Autenticado como: {{email}}</h6>
        </div>
        <div>
            <h4><a mat-stroked-button [routerLink]="['/login']">Login</a></h4>
            <h4><a mat-stroked-button (click)="goToProfile()">Ver Perfil</a></h4>
            <h4><a mat-stroked-button [routerLink]="['/registro-incidentes']">Reportar Incidente</a></h4>
            <h4><a mat-stroked-button [routerLink]="['/lista-incidentes']">Mis Incidentes</a></h4>
        </div>
    </mat-card-content>
</mat-card>
